body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

img{
  padding: 2% 25% 0% 25%;
  width: 50%;
}

.meme-container{
  width: 50%;
  background: lightgray;
}

.border {
  border-bottom: 2px solid black;
}

.comment{
  margin-left: 50px;
}

.titles{
  padding-top: 20px;
  text-align: center;
}
